body{
    margin: 0; padding: 0;

    background-color:rgb(15,19,25);
    font-size: 40px;
    color: rgb(200, 200, 200);
    font-family: 'Courier New', Courier, monospace;
}

#MainSection{
    width: 100%;
}